/*Universal styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
*,
*::before,
*::after {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
} */
/* body{
  width: 100vw;
  margin: auto;
  min-height: 100vh;
  height: fit-content;

} */
/*HOME*/
.about{
  
      box-shadow: 5px 10px palevioletred;
      border-radius: 20px;
      height: 400px;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;

}
.header-content {
  background-image: url(/Assets/dra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.about-sec{
  padding-bottom: 50px;
}
.title {
  position: relative;
  text-align: center;
text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 60px;
  padding-top: 30px;
}
.title::before {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  height: 3px;
  background: black;
  transform: translateX(-50%);
}
.title::after {

  background-color: azure;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.title::first-letter {
  font-size: 5rem;
  color: deeppink;
}

/*EDUCATION********/

* {
  box-sizing: border-box;
}
#education h1 {
  color: black;
  font-weight: 700;
  margin-top: 125px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 23px;
}
#education::first-letter {
  font-size: 5rem;
}
#education h1 span {
  color: deeppink;
}

#education {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container-left,
.container-right {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container-left.container-right {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.container-left {
  left: 0;
}

.container-right {
  left: 50%;
}

.container-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid palevioletred;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.container-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.container-right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.about p{
  margin: auto;
  padding-top: 50px;
}


@media only screen and (max-width: 600px) {
}
.timeline::after {
  left: 31px;
}

.container-left,
.container-right {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}

.container-left,
.container-right::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.container-left::after,
.right::after {
  left: 15px;
}

.container-right {
  left: 0;
}
/*TESTIMONIALS*************/
.flip-card {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  display: flex;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: plum;
  color: white;
  transform: rotateY(180deg);
  overflow-y: auto;
}

/*MEDIA QUERIES*/
@media screen and (max-width:300px) {
  footer{
    position: static;
    width: 100%;
  }
  .about{
    width: 100%;
    margin: auto;
  }
  .title{
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width:1000px) {
  NAV {
    width: 100%;
  }
  footer{
    position: static;
    width: 100%;
  }
  .title{
    width: 100%;
    margin: auto;
  }
  body{
    width: 100%;
  }
}

@media screen and (max-width:720px){
  NAV a{
   
  }
  footer{
    position: static;
    width: 100%;
  }
  .title{
    width: 100%;
    margin: auto;
  }
  .logo{
    width:100%;
    position: fixed;
  }

}
  

